{% extends '../layouts/shop_layout.html' %}

{% load static %}

{% block content %}


<section class="heading-content">
    <div class="heading-wrapper">
        <div class="container">
            <div class="row">
                <div class="page-heading-inner heading-group">
                    <div class="breadcrumb-group">
                        <h1 class="hidden">List Collection</h1>
                        <div class="breadcrumb clearfix">
                            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a href="{% url 'welcome' %}" title="Fast Food" itemprop="url"><span itemprop="title"><i class="fa fa-home"></i></span></a>
                            </span>
                            <span class="arrow-space"></span>
                            <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a href="{% url 'collections' %}" title="List Collection" itemprop="url"><span itemprop="title">List Collection</span></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="list-collection-content">
    <div class="list-collections-wrapper">
        <div class="container">
            <div class="row">
                <div class="products-wrapper">
                    <div class="products-wrapper-inner">
                        <div class="products masonry">
                            {% for cat in categories %}
                                <div class="col-sm-4 col-xs-12">
                                    <div class="product ">
                                        <!-- Begin product image -->
                                        <div class="image">
                                            <img src="{% static 'media/' %}{{cat.category_img_path}}" alt="{{cat}}">
                                        </div>
                                        <!-- End product image -->
                                        <!-- Begin product description -->
                                        <div class="col-info">
                                            <div class="col-info-group">
                                                <h4 class="title">{{cat}}</h4>
                                                <span class="price">{{cat.products.count}} Products</span>
                                                <div class="hover_button">
                                                    <a href="{% url 'prod_collection' cat.slug cat.id %}">
                                                        View More
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End product description -->
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}