{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="/" />
    <meta name="theme-color" content="#7796A8">
    <meta name="description" content="Home | Restaurants , Cloud kitchen for home made in Bangladesh">
    <meta name="author" content="Md. Ariful Islam | fahim.arif0373@outlook.com">
    <meta property="og:url" content="https://www.tnd-food.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{meta_title}}">
    <meta name="keyword" content="{{meta_keywords}}">
    <meta property="og:description" content="{{meta_description}}">
    <meta property="og:image" content="{% static '/assets/webImages/logoSmall.png' %}">


    <title>{{title}} - ecommerce</title>
    <link rel="icon" href="{% static '/assets/webImages/logoSmall.png' %}" >
    <!--
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    -->

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playball:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="{% static '/assets/stylesheets/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="{% static '/assets/stylesheets/fonts.googleapis.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static '/assets/stylesheets/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static '/assets/stylesheets/icon-font.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static '/assets/stylesheets/social-buttons.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static '/assets/stylesheets/cs.styles.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static '/assets/stylesheets/font-icon.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static '/assets/stylesheets/owl.carousel.min.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static '/assets/stylesheets/spr.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static '/assets/stylesheets/slideshow-fade.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static '/assets/stylesheets/cs.animate.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static '/assets/stylesheets/themepunch.revolution.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static '/assets/stylesheets/jquery.fancybox.css' %}" rel="stylesheet" type="text/css" media="all">

    <script type="text/javascript" src="{% static '/assets/javascripts/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/classie.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/application-appear.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/jquery.themepunch.plugins.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/jquery.themepunch.revolution.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/cs.script.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/jquery.currencies.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/jquery.zoom.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/linkOptionSelectors.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/social-buttons.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/jquery.touchSwipe.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/javascripts/jquery.fancybox.js' %}"></script>

    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />

</head>
<body class="{{class}}">
    <!--Header-->
    <header id="top" class="header clearfix">
        <div id="shopify-section-theme-header" class="shopify-section">
            <div data-section-id="theme-header" data-section-type="header-section">
                <section class="main-header">
                    <div class="main-header-wrapper">
                        <div class="container clearfix">
                            <div class="row">
                                <div class="main-header-inner">
                                    <div class="nav-logo">
                                        <a href="{% url 'welcome' %}"><img src="{% static '/assets/webImages/Logo.png' %}" alt="The New Day Logo" title="Fast Food Logo" /></a>
                                        <h1 style="display:none"><a href="{% url 'welcome' %}">{{h1_tag}}</a></h1>
                                    </div>
                                    <div class="nav-top">
                                        <div class="nav-menu">
                                            <ul class="navigation-links ">

                                                {% if request.user.is_staff %}
                                                <li class="nav-item">
                                                    <a href="{% url 'admin:index' %}" type="button" class="btn btn-info">Office</a>
                                                </li>
                                                {% endif %}
                                                
                                                <li class="nav-item">
                                                    <a href="{% url 'collections' %}">
                                                        <span>Food Categories</span>
                                                    </a>
                                                </li>
                                                {% if user.id is None %}
                                                <li class="nav-item">
                                                    <a href="{% url 'cus_reg' %}">
                                                        <span>Sign Up</span>
                                                    </a>
                                                </li>
                                                {% else %}
                                                <li class="nav-item dropdown navigation">
													<a href="" class="dropdown-toggle dropdown-link" data-toggle="dropdown">
														<span>Options</span>
														<i class="fa fa-angle-down"></i>
														<i class="sub-dropdown1  visible-sm visible-md visible-lg"></i>
														<i class="sub-dropdown visible-sm visible-md visible-lg"></i>
													</a>
													<ul class="dropdown-menu">
                                                        {% if user.groups.first.name == 'Customer' %}
														<li class="li-sub-mega">
															<a tabindex="-1" href="{% url 'cus_profile' %}">Profile</a>
														</li>
														<li class="li-sub-mega">
															<a tabindex="-1" href="{% url 'cus_orders' %}">Current Orders</a>
														</li>
                                                        {% else %}
                                                        <li class="li-sub-mega"></li>
                                                            <a href="{% url 'dash' %}" tabindex="-1">
                                                                Dashboard 
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        <li class="li-sub-mega">
															<a tabindex="-1" href="{% url 'logout_flush' %}">Logout</a>
														</li>
													</ul>
												</li>
                                                {% endif %}

                                            </ul>
                                        </div>
                                        <div class="nav-icon">
                                            <div class="m_search search-icon">
                                                <a href="" data-toggle="modal" data-target="#lightbox-search">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                            <div class="icon_cart">
                                                <div class="m_cart-group">
                                                    <a class="cart dropdown-link" id="cart-button">
                                                        <!--data-toggle="dropdown"-->
                                                        <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                        <div class="num-items-in-cart">
                                                            <div class="items-cart">
                                                                <div class="num-items-in-cart">
                                                                    <i class="fa fa-shopping-cart"></i>
                                                                    <span class="cart_text">
                                                                        Cart <span class="cart-count" class="number">0</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <div id="cart-infos" class="dropdown-menu cart-info">
                                                        <div class="cart-content">
                                                            <div class="text-items"><span> <span class="cart-count">0</span> item(s) in the shopping cart</span> <span class="cart-clear cs-icon icon-close close-dropdown"></span> </div>
                                                            <div class="items control-container">
                                                                
                                                            </div>
                                                            <div class="subtotal"><span>Subtotal:</span><span class="cart-total-right money" data-currency-usd="$30.00" data-currency="USD">$30.00</span></div>
                                                            <div class="action"><button class="_btn float-right cart_checkout">Proceed To Checkout</button></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if user.id is None %}
                                            <!-- PC VIEW-->
                                            
                                            <div class="icon_accounts">
                                                <div class="m_login-account">
                                                    <span class="dropdown-toggle login-icon" data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-v"></i>
                                                        <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                    </span>
                                                    <div class="m_dropdown-login dropdown-menu login-content">
                                                        <div class="clearfix">
                                                            <div class="login-register-content">
                                                                <ul class="nav nav-tabs">
                                                                    <li class="account-item-title active">
                                                                        <a href="{% url 'login' %}">
                                                                            Login
                                                                        </a>
                                                                    </li>
                                                                    <li class="account-item-title">
                                                                        <a href = "{% url 'cus_reg' %}">
                                                                            Register
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <div class="tab-content group_form">
                                                                    <div class="tab-pane active account-item-content" id="account-login">
                                                                        <form method="post" action="{% url 'login' %}" id="customer_login" accept-charset="UTF-8">
                                                                            {% csrf_token %}
                                                                            <div class="clearfix large_form form-item">
                                                                                <input type="text"  value="" name="username" class="form-control" placeholder="User Name *" />
                                                                            </div>
                                                                            <div class="clearfix large_form form-password form-item">
                                                                                <input type="password" value="" name="password" class="form-control password" placeholder="Password *" />
                                                                                <span class="cs-icon icon-eye"></span>
                                                                            </div>
                                                                            <div class="action_bottom">
                                                                                <button class="_btn" asp-area="Admin" asp-controller="DryDock" asp-action="Login" type="submit">Login</button>
                                                                                <a href=""><span class="red"></span> Forgot your password?</a>
                                                                                <a href = "{% url 'cus_reg' %}"><span class="red"></span> Don't have an account? <span class="text-primary">Create Account</span>.</a>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                            <ul class="wish-compare-content">
                                                                <!-- <li class="link-item"><a href="">My Wishlist</a></li>
                                                                <li class="link-item"><a href="">My Compare</a></li> -->
                                                            </ul>
                                                            <ul class="currencies currencies-content">
                                                                <li class="currency-BDT active">
                                                                    <a href="javascript:;">BDT</a>
                                                                    <input type="hidden" value="BDT" />
                                                                </li>
                                                                <li class="currency-GBP">
                                                                    <a href="javascript:;">GBP</a>
                                                                    <input type="hidden" value="GBP" />
                                                                </li>
                                                                <li class="currency-EUR">
                                                                    <a href="javascript:;">EUR</a>
                                                                    <input type="hidden" value="EUR" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {% endif %}

                                        </div>
                                    </div>
                                    <!-- MOBILE VIEW-->
                                    <div class="navMobile-navigation">
                                        <div class="navMobile-logo">
                                            <a href="{% url 'welcome' %}"><img class="header-logo-image" src="{% static '/assets/webImages/Logo.png' %}" alt="TND Logo" title="Fast Food Logo" /></a>
                                        </div>
                                        <div class="group_mobile_right">
                                            <div class="nav-icon">
                                                <div class="m_search search-tablet-icon">
                                                    <span class="dropdownMobile-toggle search-dropdown">
                                                        <span class="icon-dropdown cs-icon icon-search" data-class="cs-icon icon-search"></span>
                                                        <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                    </span>
                                                    <div class="m_dropdown-search dropdown-menu search-content">
                                                        <form class="search" action="./search.html">
                                                            <input type="hidden" name="type" value="product" />
                                                            <input type="text" name="q" class="search_box" placeholder="search our store" value="" />
                                                            <span class="search-clear cs-icon icon-close"></span>
                                                            <button class="search-submit" type="submit">
                                                                <span class="cs-icon icon-search"></span>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="icon_cart">
                                                    <div class="m_cart-group">
                                                        <a class="cart dropdownMobile-toggle dropdown-link">
                                                            <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                            <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                            <div class="num-items-in-cart">
                                                                <div class="items-cart">
                                                                    <div class="num-items-in-cart">
                                                                        <span class="cs-icon icon-bag"></span>
                                                                        <span class="cart_text">
                                                                            <span class="cart-count" class="number">0</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <div class="dropdown-menu cart-info">
                                                            <div class="cart-content">
                                                                <div class="text-items"><span> <span class="cart-count">0</span> item(s) in the shopping cart</span> <span class="cart-clear cs-icon icon-close close-dropdown"></span> </div>
                                                                <div class="items control-container">
                                                                    
                                                                   

                                                                </div>
                                                                <div class="subtotal"><span>Subtotal:</span><span class="cart-total-right money" data-currency-usd="$30.00" data-currency="USD">$30.00</span></div>
                                                                <div class="action"><button class="_btn float-right cart_checkout" >Proceed To Checkout</button></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--Mobile Login-->
                                                {% if user.id is None %}
                                                <div class="icon_accounts">
                                                    <div class="m_login-account">
                                                        <span class="dropdownMobile-toggle login-icon">
                                                            <i class="icon-dropdown cs-icon icon-ellipsis" data-class="cs-icon icon-ellipsis" aria-hidden="true"></i>
                                                            <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                            <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                        </span>
                                                        <div class="m_dropdown-login dropdown-menu login-content">
                                                            <div class="clearfix">
                                                                <div class="login-register-content">
                                                                    <ul class="nav nav-tabs">
                                                                        <li class="account-item-title active">
                                                                            <a href="{% url 'login' %}">
                                                                                Login
                                                                            </a>
                                                                        </li>
                                                                        <li class="account-item-title">
                                                                            <a href="{% url 'cus_reg' %}">
                                                                                Register
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                    <div class="tab-content group_form">
                                                                        <div class="tab-pane active account-item-content" id="account-login-mobile">
                                                                            <form method="post" action="{% url 'login' %}" id="customer_login_mobile" accept-charset="UTF-8">
                                                                                {% csrf_token %}
                                                                                <div class="clearfix large_form form-item">
                                                                                    <input type="text" value="" name="username" class="form-control" placeholder="User Name *" />
                                                                                </div>
                                                                                <div class="clearfix large_form form-password form-item">
                                                                                    <input type="password" value="" name="password" class="form-control password" placeholder="Password *" />
                                                                                    <span class="cs-icon icon-eye"></span>
                                                                                </div>
                                                                                <div class="action_bottom">
                                                                                    <button class="_btn" asp-area="Admin" asp-controller="DryDock" asp-action="Login" type="submit">Login</button>
                                                                                    <a href="./login-recover.html"><span class="red"></span> Forgot your password?</a>
                                                                                    <a href="{% url 'cus_reg' %}"><span class="red"></span> Don't have an account? <span class="text-primary">Create Account</span>.</a>
                                                                                </div>
                                                                            </form>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                                <ul class="wish-compare-content">
                                                                    <!-- <li class="link-item"><a href="">My Wishlist</a></li>
                                                                    <li class="link-item"><a href="">My Compare</a></li> -->
                                                                </ul>
                                                                <ul class="currencies currencies-content">
                                                                    <li class="currency-BDT active">
                                                                        <a href="javascript:;">BDT</a>
                                                                        <input type="hidden" value="BDT" />
                                                                    </li>
                                                                    <li class="currency-GBP">
                                                                        <a href="javascript:;">GBP</a>
                                                                        <input type="hidden" value="GBP" />
                                                                    </li>
                                                                    <li class="currency-EUR">
                                                                        <a href="javascript:;">EUR</a>
                                                                        <input type="hidden" value="EUR" />
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                {% endif %}
                                            </div>
                                            <div class="navMobile-menu">
                                                <div class="group_navbtn">
                                                    <a href="javascript:void(0)" class="dropdown-toggle-navigation">
                                                        <span class="cs-icon icon-menu"></span>
                                                        <i class="sub-dropdown1 visible-sm visible-md visible-lg"></i>
                                                        <i class="sub-dropdown visible-sm visible-md visible-lg"></i>
                                                    </a>
                                                    <div class="navigation_dropdown_scroll dropdown-menu">
                                                        <ul class="navigation_links_mobile">
                                                            
                                                            {% if user.id is None %}
                                                            <li class="nav-item">
                                                                <a href="{% url 'cus_reg' %}">
                                                                    <span>Sign Up</span>
                                                                </a>
                                                            </li>
                                                            {% else %}
                                                            <li class="nav-item navigation navigation_mobile">
                                                                <a href="" class="menu-mobile-link" data-toggle="dropdown">
                                                                    <span>Options</span>
                                                                    <a href="javascript:void(0)" class="arrow_sub arrow">
                                                                        <i class="arrow-plus"></i>
                                                                    </a>
                                                                </a>
                                                                <ul class="menu-mobile-container" style="display: none;">
                                                                    {% if user.groups.first.name == 'Customer' %}
                                                                    <li class="li-sub-mega">
                                                                        <a tabindex="-1" href="{% url 'cus_profile' %}">Profile</a>
                                                                    </li>
                                                                    <li class="li-sub-mega">
                                                                        <a tabindex="-1" href="{% url 'cus_orders' %}">Current Orders</a>
                                                                    </li>
                                                                    {% else %}
                                                                    <li class="li-sub-mega"></li>
                                                                        <a href="{% url 'dash' %}" tabindex="-1">
                                                                            Dashboard 
                                                                        </a>
                                                                    </li>
                                                                    {% endif %}
                                                                    <li class="li-sub-mega">
                                                                        <a tabindex="-1" href="{% url 'logout_flush' %}">Logout</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            {% endif %}
                                                            <li class="nav-item">
                                                                <a href="{% url 'collections' %}">
                                                                    Food Categories
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <script>
                function addaffix(scr) {
                    if ($(window).innerWidth() >= 992) {
                        if (scr > 153) {
                            if (!$('#top').hasClass('affix')) {
                                $('#top').addClass('affix').addClass('fadeInDown animated');
                            }
                        } else {
                            if ($('#top').hasClass('affix')) {
                                $('#top').removeClass('affix').removeClass('fadeInDown animated');
                            }
                        }
                    } else if ($(window).innerWidth() < 992 && $(window).innerWidth() > 767) {
                        if (scr > 95) {
                            if (!$('#top').hasClass('affix')) {
                                $('#top').addClass('affix').addClass('fadeInDown animated');
                            }
                        } else {
                            if ($('#top').hasClass('affix')) {
                                $('#top').removeClass('affix').removeClass('fadeInDown animated');
                            }
                        }
                    } else {
                        if (scr > 45) {
                            if (!$('#top').hasClass('affix')) {
                                $('#top').addClass('affix').addClass('');
                            }
                        } else {
                            if ($('#top').hasClass('affix')) {
                                $('#top').removeClass('affix').removeClass('');
                            }
                        }
                    }
                }
                $(window).scroll(function () {
                    "use strict";

                    var scrollTop = $(this).scrollTop();
                    addaffix(scrollTop);
                });
                $(window).resize(function () {
                    "use strict";

                    var scrollTop = $(this).scrollTop();
                    addaffix(scrollTop);
                });
            </script>
        </div>
    </header>
    <div class="page-container" id="PageContainer">
        <main class="main-content" id="MainContent" role="main">
            {% block content %}

            {% endblock %}
        </main>
    </div>


    <!-- Footer -->
    <footer class="footer">
        <div id="shopify-section-theme-footer" class="shopify-section">
            <section class="footer-information-block clearfix" style="background-image:  url('/static/assets/webImages/footer.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="footer-information-inner">
                            <div class="footer-information-content">
                                <div class="information-item col-sm-4 not-animated" data-animate="fadeInUp" data-delay="100">
                                    <div class="about-content">
                                        <div class="logo-footer">
                                            <img src="{% static '/assets/webImages/logoSmall.png' %}" asp-append-version="true" alt="" />
                                        </div>
                                        <div class="about-caption">
                                            Skort Maison Martin Margiela knot ponytail cami texture tucked t-shirt. Black skirt razor pleats plaited gold collar.
                                            <div class="clearfix" style="margin-bottom: 5px; "></div>
                                            Crop 90s spearmint indigo seam luxe washed out. Prada Saffiano cash mere crop sneaker chignon
                                        </div>
                                        <div class="about-contact">
                                            <div class="item">
                                                <span class="cs-icon icon-marker"></span><address>No 1104 Sky Tower, Las Vegas, USA</address>
                                            </div>
                                            <div class="item">
                                                <span class="cs-icon icon-phone"></span><a href="tel:(+88)01712844177">(084) 0123 456 789</a>
                                            </div>
                                            <div class="item">
                                                <span class="cs-icon icon-mail"></span><a href="mailto:contac@yourcompany.com">contac@yourcompany.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-group col-sm-4 not-animated" data-animate="fadeInUp" data-delay="200">
                                    <h5 class="footer-title">Recent Post</h5>
                                    <div class="blog-content">
                                        <div class="blogs-item">
                                            <div class="blogs-left">
                                                <a class="blogs-img" href="./article.html">
                                                    <img src="{% static '/assets/images/900x630.png' %}" asp-append-version="true" alt="The art of food" />
                                                </a>
                                            </div>
                                            <div class="blogs-right">
                                                <a href="./article.html" class="blogs-title clearfix">The art of food</a>
                                                <span class="date">Oct 26th</span>
                                            </div>
                                        </div>
                                        <div class="blogs-item">
                                            <div class="blogs-left">
                                                <a class="blogs-img" href="./article.html">
                                                    <img src="{% static '/assets/images/900x630.png' %}" asp-append-version="true" alt="Sports luxe sandal center part pastel loafer leather skirt sneaker" />
                                                </a>
                                            </div>
                                            <div class="blogs-right">
                                                <a href="./article.html" class="blogs-title clearfix">Sports luxe sandal center part pastel loafer leather skirt sneaker</a>
                                                <span class="date">Oct 25th</span>
                                            </div>
                                        </div>
                                        <div class="blogs-item">
                                            <div class="blogs-left">
                                                <a class="blogs-img" href="./article.html">
                                                    <img src="{% static '/assets/images/900x630.png' %}" asp-append-version="true" alt="Hermes Givenchy skort chambray Cara D skirt cable knit" />
                                                </a>
                                            </div>
                                            <div class="blogs-right">
                                                <a href="./article.html" class="blogs-title clearfix">Hermes Givenchy skort chambray Cara D skirt cable knit</a>
                                                <span class="date">Oct 25th</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="social-payment-item col-sm-4 not-animated" data-animate="fadeInUp" data-delay="300">
                                    <h5 class="footer-title"> Follow Us</h5>
                                    <div class="social-content">
                                        <div class="social-caption">
                                            <a href="https://www.facebook.com/shopify" title="Fast Food on Facebook" class="icon-social facebook"><i class="fa fa-facebook"></i></a>
                                            <a href="https://twitter.com/shopify" title="Fast Food on Twitter" class="icon-social twitter"><i class="fa fa-twitter"></i></a>
                                            <a href="https://plus.google.com/+shopify" title="Fast Food on Google+" class="icon-social google-plus"><i class="fa fa-google-plus"></i></a>
                                            <a href="https://www.pinterest.com/shopify" title="Fast Food on Pinterest" class="icon-social pinterest"><i class="fa fa-pinterest"></i></a>
                                            <a href="https://instagram.com/shopify" title="Fast Food on Instagram" class="icon-social instagram"><i class="fa fa-instagram"></i></a>
                                            <a href="https://www.youtube.com/user/shopify" title="Fast Food on Youtube" class="icon-social youtube"><i class="fa fa-youtube"></i></a>
                                        </div>
                                    </div>
                                    <div class="payment-content ">
                                        <h5 class="footer-title">Payment Methods</h5>
                                        <div class="payment-caption">
                                            <span class="icon-cc icon-cc-discover" title="Discover"></span>
                                            <span class="icon-cc icon-cc-american" title="Amex"></span>
                                            <span class="icon-cc icon-cc-western" title="Western Union"></span>
                                            <span class="icon-cc icon-cc-paypal" title="PayPal"></span>
                                            <span class="icon-cc icon-cc-moneybookers" title="MoneyBookers"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="copy-right clearfix">
                <div class="copy-right-wrapper">
                    <div class="copy-right-inner">
                        <div class="footer_links">
                            <ul>
                                <li><a href="" title="Home">Home</a></li>
                                <li><a href="" title="Pizza">Pizza</a></li>
                                <li><a href="" title="Hamburger">Hamburger</a></li>
                                <li><a href="" title="Fast food">Fast food</a></li>
                                <li><a href="" title="Drinks">Drinks</a></li>
                                <li><a href="" title="Combo buy">Combo buy</a></li>
                                <li><a href="" title="Contact">Contact</a></li>
                                <li><a href="" title="Wishlist">Wishlist</a></li>
                                <li><a href="" title="My account">My account</a></li>
                                <li><a href="" title="Login">Login</a></li>
                            </ul>
                        </div>
                        <div class="footer_copyright">Copyright &copy; 2021 <a href="" title="">Md. Ariful Islam & Md. Antonin Islam</a>. All Rights Reserved</div>
                    </div>
                </div>
            </section>
        </div>
    </footer>
    <script>

        $(document).ready(function () {

            $('.cart_checkout').click(function () {

                window.location.href = "{% url 'checkout' %}";

            });
            
            function setCount(value) {
                let count = localStorage.getItem("count");
                if (value == 0) count = 0;
                else if (!value) count = localStorage.getItem("count") ? localStorage.getItem("count") : 0
                else {
                    if (count) {
                        count = parseInt(count);
                        count += value;
                    }
                    else count = 0;
                }                
                localStorage.setItem("count", count)                             
                $('.cart-count').html(count);
            }

            function deleteFromCart(id) {
                let products = JSON.parse(localStorage.getItem("products"));
                let currentProds = products.filter(item => {
                    if (id != item.id) return true;
                    else {
                        setCount(-item.quantity)
                        return false;
                    }
                });
                //console.log(currentProds)
                localStorage.setItem("products", JSON.stringify(currentProds));
                updateCart();
            }

            let csrf = "{{ csrf_token }}";
            async function updateCart() {
                
                let urls = {
                    getItems: "{% url 'cart_item' %}",
                }
                let products = localStorage.getItem("products")
                
                let formData = new FormData();
                
                formData.append("data", products);

                let res = await fetchPost(urls.getItems, formData);

                res = JSON.parse(res)
                console.log(res)

                let html = '';
//${prod.id}
                res.forEach(prod => {
                    html += `
                    <div id="itembody" class="group_cart_item">
                        <div class="cart-left"><a class="cart-image" href=""><img src="{% static 'default_images/no-product-image-.jpg' %}" alt="" title=""></a></div>
                            <div class="cart-right">
                                <div class="cart-title"><a href="product-detail/${prod.fields.slug}/${prod.pk}">${prod.fields.product_title}</a></div>
                                <div class="cart-price"><span class="money" data-currency-bdt="৳${prod.fields.price}" data-currency="bdt">৳${prod.fields.price}</span></div>
                                <div class="cart-qty">
                                    <span class="quantity">qty: ${prod.fields.quantity}</span>
                                    <a title="add to wishlist" id="${prod.pk}" class="wishlist-extra-crispy-1" onclick="" href="#">
                                        <span class="cs-icon icon-heart"></span>
                                    </a>
                                    <a class="cart-close cart-item-remove" id="${prod.pk}" title="remove"">
                                        <span class="cs-icon icon-bin"></span>
                                    </a>
                                    </div>
                        </div>
                    </div>
                        `
                })
                //console.log(html);
                $('.items').html(html);
                $('.subtotal').html(
                    `<span>Subtotal:</span><span class="cart-total-right money" data-currency-bdt="${res.total}" data-currency="bdt">৳${res.total}</span>`
                );
    //----------------------------------------------------------------------------------       
                // if(res == "success"){
                //     console.log("OK!")
                // }
//                 if (products) {
//                     $.ajax({
//                         url: `cart/getproductdetails`,
//                         type: 'post',
//                         data: formData,
//                         headers:{
//                             "X-CSRFToken" : csrf
//                         },
//                         success: function (result) {
//                             console.log(result);
//                             let html = '';
// //${prod.id}
//                             result.products.forEach(prod => {
//                                 html += `
//                                 <div id="itembody" class="group_cart_item">
//                                     <div class="cart-left"><a class="cart-image" href=""><img src="{% static 'media/' %}" alt="" title=""></a></div>
//                                         <div class="cart-right">
//                                             <div class="cart-title"><a href="./product.html">${prod.product_title}</a></div>
//                                             <div class="cart-price"><span class="money" data-currency-bdt="৳${prod.price}" data-currency="bdt">৳${prod.price}</span></div>
//                                             <div class="cart-qty">
//                                                 <span class="quantity">qty: ${prod.quantity}</span>
//                                                 <a title="add to wishlist" id="${prod.id}" class="wishlist-extra-crispy-1" onclick="" href="#">
//                                                     <span class="cs-icon icon-heart"></span>
//                                                 </a>
//                                                 <a class="cart-close cart-item-remove" id="${prod.id}" title="remove"">
//                                                     <span class="cs-icon icon-bin"></span>
//                                                 </a>
//                                              </div>
//                                     </div>
//                                 </div>
//                                     `
//                             })
//                             //console.log(html);
//                             $('.items').html(html);
//                             $('.subtotal').html(
//                                 `<span>Subtotal:</span><span class="cart-total-right money" data-currency-bdt="${result.total}" data-currency="bdt">৳${result.total}</span>`
//                             );
                            
//                         },
                        
//                     });
//                 }              
            }

            async function fetchPost(url, data) {
                let response = await fetch(
                    url,{
                        method: "POST",
                        body: data,
                        headers:{
                            "X-CSRFToken" : csrf
                        },
                    }
                );
                let res = await response.text();
                return res;
            }

            setCount(null);
            updateCart();
            $(".add-to-cart").on('click', (e) => {
                let prodID = e.currentTarget.id;
                if (typeof (Storage) !== "undefined") { //Do my browser support it or not ?
                    if (localStorage.getItem("products")) {     // value inside local storage
                        let products = JSON.parse(localStorage.getItem("products"));  // Converted to object                      
                        let changed = false;    // pore
                        products.some(prod => {         //Check Quantity with ID (some is like Break)
                            if (prod.pk == prodID) {
                                prod.quantity = parseInt(prod.quantity) + 1;
                                changed = true;
                            }
                            return changed;
                        })

                        if (!changed) {             //If clicked 1st time create new object
                            products.push({
                                id: prodID,
                                quantity: 1
                            })
                        }                       
                        localStorage.setItem("products", JSON.stringify(products));
                    } else {    // Else CART is empty
                        let products = [
                            {
                                id: prodID,
                                quantity: 1
                            }
                        ];
                        localStorage.setItem("products", JSON.stringify(products));   //From Array Converted to JSON                     
                    }
                    setCount(1);
                    updateCart();
                } else {
                    alert("Sorry, your browser does not support Web Storage...");
                }
            });
            $("#cart-button").click(() => {
                $("#cart-infos").toggle();   
            })

            $(document).on("click", ".cart-item-remove", (e) => {
                deleteFromCart(e.currentTarget.id);
            })
            $(".cart-clear").click(() => {              
                $("#cart-infos").hide(); 
                //localStorage.removeItem
            })
        });
    </script>

   
</body>
</html>


