{% extends 'layouts/shop_layout.html' %}

{% load static %}

{% block content %}


<section class="customers-layout register-layout">
    <div class="customers-wrapper">
        <div class="container">
            <div class="row">
                <div class="customers-inner">
                    <div class="customers-content">
                        <div id="register" class="customers">
                            <h2>{{form_title}}</h2>
                            <form method="POST" action="" accept-charset="UTF-8">
                                {% csrf_token %}
                                
                                <div class="clearfix large_form form-item">
                                    {{form.first_name.label}}
                                    {{form.first_name}}
                                </div>
                                <div class="clearfix large_form form-item">
                                    {{form.last_name.label}}
                                    {{form.last_name}}
                                </div>
                                <div class="clearfix large_form form-item">
                                    {{form.email.label}}
                                    {{form.email}}
                                </div>
                                <div class="clearfix large_form form-item">
                                    {{form.contact.label}}
                                    {{form.contact}}
                                </div>
                                <div class="clearfix large_form form-item">
                                    {{form.social_media_link.label}}
                                    {{form.social_media_link}}
                                </div>
                                <div class="clearfix large_form form-item">
                                    {{form.username.label}}
                                    {{form.username}}
                                </div>
                                <div class="clearfix large_form form-password form-item">
                                    {{form.password1.label}}
                                    {{form.password1}}
                                </div>
                                <div class="clearfix large_form form-password form-item">
                                    {{form.password2.label}}
                                    {{form.password2}}
                                </div>
                                <span class="text-danger">
                                    {{form.errors}}
                                </span>
                                <div class="action_bottom">
                                    <input class="_btn" type="submit" value="Register">
                                    <span class="note"><span class="or">or</span><a href="{% url 'welcome' %}">Return to Store</a></span>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!--

        <script type="text/javascript">

        $(function () {
            var noti = '@TempData["action"]';
            if (noti.length > 0) {
                alertify.success(noti);
            }
        })

    </script>

-->


{% endblock %}